<section class="about" id="about">
  <div class="about__bio">
    <div class="about__bio-content">
      <div class="section-title">
        <h1>About me</h1>
      </div>
      <p>Call me a Melburnian by way of New York — it&rsquo;s been an unexpected but exciting adventure of a move during lockdown. A big change of scenery. Check out these rocks!</p>
      <p>I work in design, for the news. I communicate ideas and information visually when words alone fall short, and I use code to create graphics and stories that are interactive — made for the web. Digital, visual journalism is an exciting space to be in, and I&rsquo;m passionate about innovating on the way we consume and craft media.</p>
      <p>I&rsquo;ve spent my whole life on the East Coast of the States before moving to the other side of the world. I earned a B.S. in Computer Science & Design from Northeastern University in Boston (Go Huskies!) where I learned I can put these skills to use in a newsroom towards work that is tangible, impactful and never boring. I&rsquo;m also a member of the Asian American Journalists Association where I helped to start and run the &ldquo;News Nerds&rdquo; affinity group for other techies in media like myself.</p>
      <p>My time spent at home has been channeled largely into baking. Otherwise, you might find me doing Yoga with Adriene or drawing letters for original fonts.
    </div>
    <img class="about__bio-photo" src={{ puppy.staticUrl('img/about-photo.jpg') }} alt="Me being silly, half standing, half crouching on a big rock on the beach with my arms extended. I'm looking off to the distance a smiling."></img>
  </div>
</section>