<section class="about" id="about">
  <div class="about__bio">
    <div class="about__bio-content">
      <div class="section-title">
        <h1>About me</h1>
      </div>
      <p>I’m a queer, Chinese American, New Yorker turned New Englander turned (soon to be) New Zealander. I'm an interactive designer at Stuff.co.nz, and I love typography, sustainability and anything that’s dairy-free.</p>
      <p>Data, design, code and storytelling together form this intersection of tech and journalism that really inspires the work I aim to produce. There exists so much potential to lift up voices and communicate complex information in ways that traditional prose journalism alone cannot. I’m here to tap into that — I want to explore the way we exchange stories and ideas on the web.</p>
    </div>
    <img class="about__bio-photo" src={{ puppy.staticUrl('img/about-photo.jpg') }} alt="Me being silly, half standing, half crouching on a big rock on the beach with my arms extended. I'm looking off to the distance a smiling."></img>
  </div>
</section>