<section class="about" id="about">
  <div class="about__bio">
    <div class="about__bio-content">
      <div class="section-title">
        <h1>About me</h1>
      </div>
      <p>I’m a visual communicator working in the intersection of news, design and technology. When words alone fall short, I find ways to translate complex information into approachable, visually-compelling stories. By combining my coding skills with my passion for design, I create interactive graphics that engage and inform readers in a digital space.</p>
      <p>Having grown up on the East Coast of the United States, I made a leap to the other side of the world and wound up in Australia. (It’s a long story.) I earned a B.S. in Computer Science & Design from Northeastern University in Boston where I discovered the powerful role that technology can have in a newsroom. I’m always looking for ways to innovate and push boundaries in the way we craft and consume media.</p>
      <p>I’m also a proud member of the <a href="https://aaja.org/" target="_blank">Asian American Journalists Association</a> where I helped to establish and lead the “News Nerds” affinity group for members like myself who are interested, or working, in the tech and journalism space.</p>
      <p>Ironically, I picked up ice hockey only after leaving New England and moving to Melbourne. Now it’s my whole personality, and I proudly play for the <a href="https://southernlightsicehockey.com/" target="_blank">Southern Lights</a>.</p>
    </div>
    <img class="about__bio-photo" src={{ puppy.staticUrl('img/about-photo.jpg') }} alt="Me being silly, half standing, half crouching on a big rock on the beach with my arms extended. I'm looking off to the distance a smiling."></img>
  </div>
</section>