{% set intro = site.data['intro.json'] %}

<section class="intro">
  <div class="intro__upper">
    <p class="intro__copy">Hi, I’m Alex. <span id="manicule">&#9755;</span> Here you’ll find my recent work.</p>
  </div>
  <div class="work-header"><div class="work-header__inner"><p>I’m a designer-developer and graphics journalist at <a href="https://www.abc.net.au/news/alex-lim/103417492" target="_blank">The ABC</a> based in Melbourne, Australia. I approach storytelling through design to make complex topics more accessible.</p></div></div>
  <hr/>
</section>