{% set intro = site.data['intro.json'] %}

<section class="intro">
  <div class="intro__upper">
    <p class="intro__copy">Hi, I’m Alex! <span id="manicule">&#9755;</span> I’m a <span class="small-caps">designer-developer</span> and <span class="small-caps">data journalist</span>. My goal is to make information more accessible — more engaging, clearer and easier to understand.</p>
    <img class="intro__photo" src={{ puppy.staticUrl('img/alex.jpg') }} alt="Me smiling on my college campus"/>
  </div>
  <hr/>
</section>