{% set intro = site.data['intro.json'] %}

<section class="intro">
  <div class="intro__upper">
    <p class="intro__copy">Some of my recent work <span id="manicule">&#9755;</span> Data-driven, visual stories that explain topics in creative ways.</p>
    <img class="intro__photo" src={{ puppy.staticUrl('img/alex.jpg') }} alt="A young man of Chinese heritage wearing a collared shirt, glasses and a big smile."/>
  </div>
  <div class="work-header"><div class="work-header__inner"><p>I’m a designer-developer and journalist at <a href="https://abc.net.au/news" target="_blank">The ABC</a> (Australia). My job is to innovate with journalism — to look for new ways to find and tell stories, beyond traditional, words-only reporting.</p></div></div>
  <hr/>
</section>