{% set intro = site.data['intro.json'] %}

<section class="intro">
  <div class="intro__upper">
    <p class="intro__copy">Hello there <span id="manicule">&#9755;</span> Cantonese-American designer-developer and journalist here &mdash; based in Melbourne, Australia.</p>
    <img class="intro__photo" src={{ puppy.staticUrl('img/alex.jpg') }} alt="Me smiling in front of the Twelve Apostles rock formations in the distance along the coast of Victoria, Australia"/>
  </div>
  <hr/>
</section>