<div class="block placeholder">
  <h1>Coming soon</h1>
  <h2>This is the part where I tell you more about myself.</h2>
  <p>In the meantime, you can checkout my <a href="{{ site.data['intro.json'].buttons.resumeUrl }}" target="_blank">resume</a> or my <a href="/about">about page</a> to see my fun 404 message :)</p>
</div>