<div class="overview">
  <div class="overview__inner">
    <label class="overview__title">Overview</label>
    <p class="overview__text">I designed this book to document the process and strategy behind my social change campaign project. I used Adobe InDesign, Illustrator and Photoshop. Featured photos are by my good friend Victoria Romulo.</p>
    <div class="overview__meta">
      <span>{{ date }}</span>
      <span>{{ description }}</span>
    </div>
  </div>
</div>