.about {
  margin-bottom: 50px;
}

.about__bio {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;

  @media (min-width: $bp-sm) {
    column-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__bio-content {
  p {
    font-size: 0.9rem;
    hyphens: auto;
    line-height: 1.4rem;

    &:first-of-type:first-letter {
      color: $c-red;
      float: left;
      font-family: $ff-sans;
      font-size: 2.7rem;
      font-weight: 600;
      line-height: 2.7rem;
      padding-top: 5px;
      padding-right: 12px;
      padding-left: 12px;
    }
  }
}

.about__bio-photo {
  margin-bottom: 30px;
  min-height: 300px;
  object-fit: cover;
  width: 100%;
}
